body
{
    background-image: url(./images/home_page_exams.jpg);
    opacity: 1.0;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    width: 100%;
}

.start
{
    background: none;
}

.header1
{
    font-family: "Monotype Corsiva";
    font-size: 100px;
    text-align: center;
    color: black;
    
}

.header2
{
    font-family: "Monotype Corsiva";
    font-size: 50px;
    text-align: center;
    color: black;
    
}

.principal_button
{
    text-align: center;
    font-family: "Quire Sans";
    color: rgb(6, 6, 78);
    font-size: 35px;
    background: rgba(51, 51, 167, .5);
    border-radius: 20px;
    width: 400px;
    height: 100px;
    border: 2px solid rgb(6,6,78);
    margin-bottom: 5px;
    margin-left: 350px;
    margin-right: 300px;
    position: relative;
    top: 20px;
    left: 10px;
}