body {
    background-image: url("./images/home_page_exams.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.start {
    display: flex;
    flex: 1 0 auto;

    flex-direction: column;
}

.meniu-container {
    margin-top: 40px;

    display: flex;

    flex: 1 0 auto;
    flex-direction: row;
}

.meniu-homepage {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
}